body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail {
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.slideshow-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.slide.active {
    display: block;
    animation: fade 2s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}